*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

section {
    background-color: #263238;
    position: relative;
}

#canvas-container {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: -690px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#characters-container {
    text-align: center;
}

#characters-container .character {
    display: inline-block;
    cursor: pointer;
}

#characters-container .character:hover,
#characters-container .character.active {
    background-color: rgba(255, 255, 255, 0.1);
}

#main-menu {
    background-color: #212121;
    width: 690px;
    padding: 30px 60px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#main-title {
    color: #fff;
    text-align: center;
}

#menu-icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -70px;
}

#menu-icon i{
    font-size: 50px;
    color: #fff;
    background-color: #282828;
    padding: 10px;
}

#player-information {
    background: #212121;
    color: #fff;
    position: absolute;
    width: 200px;
    height: auto;
    top: 20px;
    left: 20px;
    z-index: 10000;
}

.col-sp {
    padding: 0!important;
}

.collapsible {
    color: #000;
    margin-top: 5px;
}

.collapsible-body {
    background-color: #282828;
    color: #fff;
}

.collapsible-body p {
    padding: 0.8em!important;
}

.collapsible-body p label {
    color: #fff;
}

.collapsible-body .switch label {
    padding-left: 10px;
}

.full-height {
    height: 100%;
}

.game-option-group {
    padding-top: 20px;
}

.row-sm {
    margin: 0;
}

